@use '../ulti' as *;
.container {
  max-width: rem(1240);
  margin: 0 auto;
}

.flex-row-column {
  display: flex;
  flex-direction: column;
  gap: rem(20);

  @include breakpoint(medium) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.width-100 {
  width: 100%;
}

.title {
  text-align: center;
  font-size: rem(40);
  margin-bottom: rem(10);
}

.yellow {
  color: yellow;
}
